<launch>
  <arg name="port" default="/dev/rfcomm0" doc="Device file of bluetooth sensor module" />
  <arg name="rosbag" default="" doc="Path to rosbag file to be saved. If empty, rosbag is not recorded." />

  <!-- rosserial via bluetooth is launched inside pr1040s -->
  <!-- Make sure that rosserial_python package is built in ws_ws workspace -->
  <machine name="pr1040s" user="yamaguchi" address="pr1040s.jsk.imi.i.u-tokyo.ac.jp" env-loader="/home/yamaguchi/ws_ws/devel/env.sh" />

  <!-- Find sensor placement -->
  <include file="$(find yamaopt_ros)/launch/pr2_sensor_placement.launch">
    <arg name="arm" value="left" />
    <arg name="use_base" value="false" />
    <!-- This demo uses thermography -->
    <arg name="sensor_type" value="none" />
    <!-- Main roseus program is launched outside of this launch -->
    <arg name="move_robot" value="false" />
  </include>

  <!-- Start m5stack (thermography) -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_thermo"
        output="screen" machine="pr1040s"
        respawn="true" respawn_delay="10">
    <rosparam subst_value="true">
      port: $(arg port)
      baud: 115200
    </rosparam>
  </node>

  <!-- Main roseus -->
  <!-- Note that (setup) must be executed before launching this file -->
  <node name="soup_from_boil" pkg="yamaopt_ros" type="soup-from-boil.l"
        args="&quot;(main)&quot;">
    <rosparam>
      arm: left
      use_vision_planes: true
      use_robot_planes: true
    </rosparam>
  </node>

  <!-- Record rosbag -->
  <include if="$(eval rosbag != '')"
           file="$(find yamaopt_ros)/launch/pr2_rosbag_record.launch">
    <arg name="rosbag" value="$(arg rosbag)" />
  </include>

</launch>
