<launch>
  <arg name="INPUT_CLOUD" default="/kinect_head/depth_registered/throttled/points" />
  <arg name="port" default="/dev/rfcomm1" />
  <arg name="baud" default="115200" />
  <arg name="gui" default="false" />

  <!-- Recognize broom and its handle  -->
  <include file="$(find yamaopt_ros)/pr2_broom/broom_recognition.launch" />

  <!-- Find sensor placement -->
  <include file="$(find yamaopt_ros)/launch/pr2_sensor_placement.launch">
    <arg name="input_point" value="left" />
    <arg name="arm" value="left" />
    <arg name="use_base" value="false" />
    <!-- This demo uses ai_camera -->
    <arg name="sensor_type" value="none" />
    <!-- Main roseus program is launched outside of this launch -->
    <arg name="move_robot" value="false" />
  </include>

  <include file="$(find m5stack_ros)/launch/yolov2_with_pr2.launch">
    <arg name="port" value="$(arg port)" />
    <arg name="baud" value="$(arg baud)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

</launch>
