<launch>
  <arg name="INPUT_CLOUD" default="/kinect_head/depth_registered/throttled/points" />
  <arg name="port" default="/dev/rfcomm1" />
  <arg name="baud" default="115200" />
  <arg name="gui" default="false" />

  <!-- Recognize broom and its handle  -->
  <include file="$(find yamaopt_ros)/demo/pr2_broom/broom_recognition.launch" />

  <!-- Find sensor placement -->
  <include file="$(find yamaopt_ros)/launch/pr2_sensor_placement.launch">
    <arg name="input_point" value="/broom_handle/HSI_color_filter_for_plane/hsi_output" />
    <arg name="arm" value="left" />
    <arg name="use_base" value="false" />
    <arg name="use_robot_planes" value="false" />
    <!-- This demo uses ai_camera -->
    <!-- <arg name="sensor_type" value="none" /> -->
    <arg name="sensor_type" value="ai_camera" />
    <!-- Main roseus program is launched outside of this launch -->
    <arg name="move_robot" value="false" />
  </include>
  <rosparam>
    <!-- Find broom params -->
    <!-- We need to find more stable params -->
    organized_multi_plane_segmentation/max_curvature: 0.02
    organized_multi_plane_segmentation/min_size: 500
  </rosparam>

  <!-- The main roseus program -->

  <!-- <include file="$(find m5stack_ros)/launch/yolov2_with_pr2.launch"> -->
  <!--   <arg name="port" value="$(arg port)" /> -->
  <!--   <arg name="baud" value="$(arg baud)" /> -->
  <!--   <arg name="gui" value="$(arg gui)" /> -->
  <!-- </include> -->

</launch>
