<launch>
  <arg name="rosbag" doc="rosbag file path" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />

  <node name="rosbag_record" pkg="rosbag" type="record"
      args="-q $(arg compress_flag) -O $(arg rosbag) -b 0 
          /rosout
          /tf
          /tf_static
          /joint_states
          /map
          /odom
          /odom_combined
          /cmd_vel
          /move_base/navigation_plan_viz
          /move_base/global_plan_viz
          /move_base/local_plan_viz
          /move_base/global_costmap/footprint
          /spots_marker_array
          /spots_pictogram
          /safe_teleop_base/local_costmap/costmap
          /move_base/local_costmap/costmap
          /move_base/global_costmap/costmap
          /particlecloud
          /base_scan/throttled
          /head_camera/rgb/throttled/camera_info
          /head_camera/depth_registered/throttled/camera_info
          /head_camera/rgb/throttled/image_rect_color/compressed
          /head_camera/depth_registered/throttled/image_rect/compressedDepth
          /server_name/smach/container_init
          /server_name/smach/container_status
          /server_name/smach/container_structure
          /audio

          /sensor_placement/request
          /sensor_placement/response

          /tvoc_sgp30/eco2
          /tvoc_sgp30/tvoc
          /tvoc_sgp30/battery_level
          /tvoc_sgp30/is_charging
          /tvoc_sgp30/sensor_type
          /tvoc_sgp30/attach_type

          /mlx90640/thermal/min_temp
          /mlx90640/thermal/max_temp
          /mlx90640/thermal/center_temp
          /mlx90640/thermal/image
          /mlx90640/battery_level
          /mlx90640/is_charging
          /mlx90640/sensor_type
          /mlx90640/attach_type

          /pdm_spm1423/pdm_audio
          /pdm_spm1423/pdm_volume
          /pdm_spm1423/battery_level
          /pdm_spm1423/is_charging
          /pdm_spm1423/sensor_type
          /pdm_spm1423/attach_type

          /unitv/unitv_image/compressed
          /unitv/unitv_image
          /unitv/unitv_image/rects
          /unitv/unitv_image/class
          /unitv/battery_level
          /unitv/is_charging
          /unitv/sensor_type
          /unitv/attach_type

"
      output="screen" />

</launch>
