<launch>

  <arg name="arm" default="left" />

  <node pkg="yamaopt_ros" type="sample-sensor-placement-dump-request.l"
        name="sample_sensor_placement_client" output="screen">
    <rosparam subst_value="true">
      arm: $(arg arm)
    </rosparam>
  </node>

  <!-- Server to calculate sensor placement optimization -->
  <!-- Please call /sensor_placement to calculate sensor placement -->
  <node pkg="yamaopt_ros" type="sensor_placement.py" name="sensor_placement" output="screen">
    <rosparam subst_value="true">
      robot_name: pr2
      arm: $(arg arm)
      use_base: false
      d_hover: 0.05
      visualize: true
    </rosparam>
  </node>

</launch>
